* {
  /* Recomendo não alterar nada aqui dentro */
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* Recomendo não alterar nada aqui dentro, só adicionar */
  --red: #bf2626;
  --blue: #021f59;
}

.body{
  background-color: azure;
}

.vermelho{
  background-color: #bf2626;
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: left;
  border-radius: 20px;
}

.azul{
  background-color: #021f59;
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: right;
  align-items: end;
  border-radius: 20px;
}